<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.elpassion.android.commons.recycler_example">

    <application>
        <activity android:name="com.elpassion.android.commons.espresso.InitIntentsRuleTest$Activity" />
        <activity android:name="com.elpassion.android.commons.espresso.InitIntentsRuleTest$StartingActivity" />
        <activity android:name="com.elpassion.android.commons.espresso.ClickTest$Activity" />
        <activity android:name="com.elpassion.android.commons.espresso.TypeTextTest$Activity" />
        <activity android:name="com.elpassion.android.commons.espresso.ReplaceTextTest$Activity" />
        <activity android:name="com.elpassion.android.commons.espresso.PressImeActionButtonTest$Activity" />
    </application>
</manifest>